<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="change()" #changeForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            {{ email }}
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Previous Password" name="currentPassword" [(ngModel)]="currentPassword" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Proposed Password" name="newPassword" [(ngModel)]="newPassword" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" type="submit" [disabled]="!changeForm.form.valid || loading">
          <div *ngIf="!loading">Change Password</div>
          <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>